body {
  background: rgb(54, 17, 203);
  background: linear-gradient(90deg, rgba(54, 17, 203, 1) 16%, rgba(14, 180, 223, 1) 68%, rgba(77, 208, 0, 1) 97%);
}

header {
  /* background-color: red; */
  /* For browsers that do not support gradients */
  /* background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
  border: 10px double rgb(12, 12, 12);
  text-align: center;
  box-shadow: 4px 8px 10px rgb(35, 21, 87);
  margin-bottom: 15px;
  color: rgb(226, 201, 204);
  text-shadow: 2px 2px rgb(12, 12, 12);
}

.header2 {
  /* background-color: red;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
  border: 10px double rgb(12, 12, 12);
  text-align: center;
  box-shadow: 4px 8px 10px rgb(35, 21, 87);
  margin-bottom: 15px;
  color: rgb(226, 201, 204);
  margin-top: 15px;
  text-shadow: 2px 2px rgb(12, 12, 12);
}

.navbar {
  border: 10px double rgb(12, 12, 12);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  margin-bottom: 15px;
  box-shadow: 4px 8px 10px rgb(35, 21, 87);
  height: auto;
}

.dropdown {
  /* display: inline-flex; */
  border: 10px double rgb(12, 12, 12);
  margin: 10px;
  background-color: rgb(35, 21, 87, 0.5);
  border-radius: 50px;
  box-shadow: 4px 8px 10px rgb(0, 0, 255);
  cursor: pointer;
}

.dropdown:hover {
  background-color: rgb(255, 136, 0);
}

.dropdown-menu {
  background: transparent;
}

.dropdown-menu:hover {
  background: transparent;
}

.box {
  border: 2px solid rgb(12, 12, 12);
  display: inline-block;
  padding: 10px;
  /* margin-top: 10px; */
  width: 150px;
  height: 50px;
  box-shadow: 4px 8px 10px rgb(35, 21, 87);
  border-radius: 50px;
  text-align: center;
}

.red {
  background-color: rgb(173, 10, 4);
  color: rgb(12, 12, 12);
  margin-top: 10px;
}

.redorange {
  background-color: rgb(255, 0, 0);
  color: rgb(12, 12, 12);
}

.orange {
  background-color: rgb(255, 136, 0);
  color: rgb(12, 12, 12);
}

.orangeyellow {
  background-color: rgb(255, 176, 7);
  color: rgb(12, 12, 12);
}

.yellow {
  background-color: rgb(255, 255, 0);
  color: rgb(12, 12, 12);
}

.yellowgreen {
  background-color: rgb(173, 255, 47);
  color: rgb(12, 12, 12);
  margin-top: 10px;
}

.green {
  background-color: rgb(2, 109, 2);
  color: rgb(12, 12, 12);
}

.greenblue {
  background-color: rgb(65, 192, 181);
  color: rgb(12, 12, 12);
}

.blue {
  background-color: rgb(0, 0, 255);
  color: rgb(255, 255, 255);
}

.bluepurple {
  background-color: rgb(106, 17, 203);
  color: rgb(255, 255, 255);
}

.purple {
  background-color: rgb(39, 10, 39);
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

.pink {
  background-color: rgb(255, 192, 203);
  color: rgb(12, 12, 12);
}

.white {
  background-color: rgb(255, 255, 255);
  color: rgb(12, 12, 12);
}

.grey {
  background-color: rgb(128, 128, 128);
  color: rgb(255, 255, 255);
}

.ash {
  background-color: rgb(12, 12, 12, 0.3);
  color: rgb(255, 255, 255);
}

.black {
  background-color: rgb(12, 12, 12);
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

.brown {
  background-color: rgb(58, 53, 11);
  color: rgb(255, 255, 255);
}

.rainbow {
  background-image: linear-gradient(to top, rgb(79, 181, 118) 0%, rgb(68, 196, 137) 30%, rgb(40, 169, 174) 46%, rgb(40, 162, 183) 59%, rgb(76, 119, 136) 71%, rgb(108, 79, 99) 86%, rgb(67, 44, 57) 100%);
  color: rgb(255, 255, 255);
}

.rainbow2 {
  background-image: linear-gradient(-225deg, rgb(35, 21, 87) 0%, rgb(68, 16, 122) 29%, rgb(255, 19, 97) 67%, rgb(255, 248, 0) 100%);
  color: rgb(255, 255, 255);
}

.rainbow3 {
  background-image: linear-gradient(to top, rgb(219, 220, 215) 0%, rgb(221, 220, 215) 24%, rgb(226, 201, 204) 30%, rgb(231, 98, 125) 46%, rgb(184, 35, 90) 59%, rgb(128, 19, 87) 71%, rgb(61, 22, 53) 84%, rgb(28, 26, 39) 100%);
  color: rgb(255, 255, 255);
}

.col {
  border: 2px solid rgb(12, 12, 12);
  padding: 25px;
  margin: 10px;
  text-align: center;
  font-size: larger;
  margin-left: 70px;
  margin-top: 25px;
  font-weight: bold;
  font-family:cursive;
  text-decoration: none;
}

section {
  margin-bottom: 15px;
  height: 691px;
  padding-top: 47px;
  margin-top: 15px;
  text-align: center;
}

img {
  border: 10px double rgb(12, 12, 12);
}

